:root {
    --main-bg-color: steelblue; 
    /*--main-bg-color: #d84a5c;*/ 
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	/*background:#222;*/
	font-family: 'Montserrat', Sans-serif;
	font-weight: 300;
}

h2{
	font-size: 2.5vw;
	text-align: center;
    padding: 40px 0px;
    color: var(--main-bg-color);
    font-weight: 400;
}


h3{
	text-align: left;
	color: var(--main-bg-color);
	font-weight: 200;
}

strong{
	color: var(--main-bg-color);
}


/*=========================================
HEADER Y MENU =============================*/



.container{
	width:80%;
	margin: 0 auto;

}

header{
	/*background: #55d6aa;*/
	background: var(--main-bg-color);
	
}

/*Css Trick para menu important!*/
header::after{
	content: '';
	display: table;
	clear:both;
}

.logo{
	float: left;
	padding: 10px 0px;
}

nav{
	float: right;

}

nav ul{
	list-style: none;
	/*margin:0;
	padding: 0; no añadir estas propiedades porque ya se añadieron al principio de la hoja de estilo*/
}

nav li{
	display: inline-block;
	margin-left: 70px; /*empuja el menú desde la izquierda*/
	/*margin: 0 35px; empuja el menú desde la izquierda, pero deja un espacio vacio a la derecha*/
	padding-bottom: 20px;
	padding-top: 20px;

	position: relative; /*se añade para poner la clase pseudo::before; Si no estuvise, barra de pseudo::before acuparia
	 el 100% de mi pantalla*/
}

nav a{
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

nav a:hover{
	color:#eee;
}

nav a::after{
	content: '';
	display: block;
	height: 5px;
	background-color: #fff;

	position: absolute;
	bottom: 0;
	width:0%; /*Sets to 0% to hide the bar*/

	transition: all ease-in-out 250ms;
}

nav a:hover::after { 
	width: 100%; /*sets to 100% to show the bar on hover*/
}


/*=========================================
MAIN =============================*/



.main {
	width: auto;
	height: 700px;
	overflow: hidden;

	position: relative;
}

.main img{
	max-width: 100%;
	height: auto;
}
/*----------------------------------
RECUADRO ----------------------------------*/

.contenedor_intro{
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    /*top: 50%;*/
    padding: 30px;
}

.main_recuadro{
    position: absolute;
    height: 40%;
    width: 20%;
    border: 2px solid var(--main-bg-color);
    top: 31%;
    left: 30%;
}

.contenedor_intro h1{
	font-size: 3em;
	line-height: 0.9;
	position: absolute;
    top: 50%;
    left: 35%;
    color: white;
    z-index: 1;
}

.contenedor_intro h2{
	font-weight: 400;
    text-transform: uppercase;
    font-size: 1em;
    color: var(--main-bg-color);
    padding: 0px;
    text-align: left;
   	position: absolute;
  	top: 44%;
    left: 12%;
    transform: rotate(270deg);
}

/*----------------------------------
ABOUT ME ----------------------------------*/

.aboutme_contenedor{
	background: #000;
}


.aboutme p{
	text-align: center;
    font-size: 0.75em;
    line-height: 2;
    padding: 0 50px;
    color:#fff;
}




/*=========================================
@MEDIA =============================*/


@media screen and (max-width: 1024px) and (min-width: 520px){

.container{
	width:90%;
	margin: 0 auto;
}

.main {
	width: auto;
	height: 600px;
	overflow: hidden;
}

.main img{
	width: 120%;
	
	height: auto;
}


nav li{
	padding-bottom: 10px;
	padding-top: 25px;
}





