:root {
    --main-bg-color: steelblue; 
    /*--main-bg-color: #d84a5c;*/ 
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	/*background:#222;*/
	font-family: 'Montserrat', Sans-serif;
	font-weight: 300;
}

h2{
	font-size: 2.5vw;
	text-align: center;
    padding: 40px 0px;
    color: var(--main-bg-color);
    font-weight: 400;
}


h3{
	text-align: left;
	color: var(--main-bg-color);
	font-weight: 300;
}

strong{
	color: var(--main-bg-color);
}


/*=========================================
HEADER Y MENU 
=============================*/



.container{
	width:80%;
	margin: 0 auto;

}

header{
	/*background: #55d6aa;*/
	background: var(--main-bg-color);
	
}

/*Css Trick para menu important!*/
header::after{
	content: '';
	display: table;
	clear:both;
}
/* pruebas*/


/* Hasta aquí*/
.logo{
	float: left;
	padding: 10px 0px;
}

nav{
	float: right;

}

nav ul{
	list-style: none;
	/*margin:0;
	padding: 0; no añadir estas propiedades porque ya se añadieron al principio de la hoja de estilo*/
}

nav li{
	display: inline-block;
	margin-left: 70px; /*empuja el menú desde la izquierda*/
	/*margin: 0 35px; empuja el menú desde la izquierda, pero deja un espacio vacio a la derecha*/
	padding-bottom: 20px;
	padding-top: 20px;

	position: relative; /*se añade para poner la clase pseudo::before; Si no estuvise, barra de pseudo::before acuparia
	 el 100% de mi pantalla*/
}

nav a{
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

nav a:hover{
	color:#eee;
}

nav a::after{
	content: '';
	display: block;
	height: 5px;
	background-color: #fff;

	position: absolute;
	bottom: 0;
	width:0%; /*Sets to 0% to hide the bar*/

	transition: all ease-in-out 250ms;
}

nav a:hover::after { 
	width: 100%; /*sets to 100% to show the bar on hover*/
}


/*=========================================

MAIN 

=============================*/



.main {
	width: auto;
	height: 700px;
	overflow: hidden;

	position: relative;
}

.main img{
	max-width: 100%;
	height: auto;
}
/*----------------------------------
RECUADRO Above-the-scroll
----------------------------------*/

.contenedor_intro{
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    /*top: 50%;*/
    padding: 30px;
}

.main_recuadro{
    position: absolute;
    height: 40%;
    width: 20%;
    border: 2px solid var(--main-bg-color);
    top: 31%;
    left: 30%;
}

.contenedor_intro h1{
	font-size: 3em;
	line-height: 0.9;
	position: absolute;
    top: 50%;
    left: 35%;
    color: white;
    z-index: 1;
}

.contenedor_intro h2{
	font-weight: 400;
    text-transform: uppercase;
    font-size: 1em;
    color: var(--main-bg-color);
    padding: 0px;
    text-align: left;
   	position: absolute;
  	top: 44%;
    left: 12%;
    transform: rotate(270deg);
}

/*----------------------------------
ABOUT ME 
----------------------------------*/

.aboutme_contenedor{
	background: #000;
}

.aboutme p{
	text-align: center;
    font-size: 0.75em;
    line-height: 2;
    padding: 0 50px;
    color:#fff;
}

	/*.aboutme_datos{
		background-color: #000;
	}*/

.datos{
	width: 90%;
	margin: auto;
	padding: 50px 0px; /*desplazar la "ul" arriba y abajo*/ 
	list-style: none;
	background-color: #000;
	color: #fff;

}

.datos li{
	float:left;
	width:25%;
	/*display: inline-block; */
}

.datos div{
	/*padding: 0 30px;*/
	border-right: 1px solid var(--main-bg-color);
	text-align: center;
}

.datos p{
	padding-top: 10px;
	font-size: 0.75em;
}


/*----------------------------------
ABOUT ME Iconos dentro de class="datos"
----------------------------------*/

.fa-user-o {
    font-size: 1.5em;
    padding: 10px;
    color:  var(--main-bg-color);
    /*apartir de aqui, las propiedades aplicadas sirven para centrar el icono*/
    display: block !important;/* aplicamos !important para que este display: block; 
    tenga preferencia sobre los estilos que se aplique poseriormente sobre el mismo elemento.*/
    margin: auto;
    width: 20px;
    padding-left: 0px;
    
}

.fa-user-o:before {
    content: "\f2c0";
    /*font-size: 20px;*/
}

.fa-birthday-cake {
    font-size: 1.5em;
    padding: 10px;
    color:  var(--main-bg-color);
    /*apartir de aqui, las propiedades aplicadas sirven para centrar el icono*/
    display: block !important;/* aplicamos !important para que este display: block; 
    tenga preferencia sobre los estilos que se aplique poseriormente sobre el mismo elemento.*/
    margin: auto;
    width: 20px;
    padding-left: 0px;
}

.fa-birthday-cake:before {
    content: "\f2c0";
   /* font-size: 20px;*/
}

.fa-envelope-o {
    font-size: 1.5em;
    padding: 10px;
    color:  var(--main-bg-color);
    /*apartir de aqui, las propiedades aplicadas sirven para centrar el icono*/
    display: block !important;/* aplicamos !important para que este display: block; 
    tenga preferencia sobre los estilos que se aplique poseriormente sobre el mismo elemento.*/
    margin: auto;
    width: 20px;
    padding-left: 0px;
}

.fa-envelope-o:before {
    content: "\f2c0";
    /*font-size: 20px;*/
}

.fa-home {
    font-size: 1.5em;
    padding: 10px;
    color:  var(--main-bg-color);
    /*apartir de aqui, las propiedades aplicadas sirven para centrar el icono*/
    display: block !important; /* aplicamos !important para que este display: block; 
    tenga preferencia sobre los estilos que se aplique poseriormente sobre el mismo elemento.*/
    width: 20px;
    margin: auto;
    padding-left: 0px;
}

.fa-home:before {
    content: "\f2c0";
   /* font-size: 20px;*/
}

/*===================== 
Iconos RRSS 
=============*/

.rrss{
	width: 45%;
    margin: auto;
    padding: 71px 0px;
}

.rrss::after{ /*Estas lineas se usan para "habilidades profesionales" no se descoloque
cuando usamos "float:left;" en las listas (ul)*/
	content: '';
	display: table;
	clear:both;
}


.rrss li{
	/*display: inline-block;*/
	float: left;
	width: 25%;
    padding: 0px 44px;
    list-style: none;
    /*border-right: 1px solid var(--main-bg-color);*/
}

.fa-instagram{
	color: var(--main-bg-color);
}

.fa-facebook-square{
	color:var(--main-bg-color);
}

.fa-pinterest{
	color:var(--main-bg-color);
}

.fa-linkedin{
	color: var(--main-bg-color);
}

.fa-instagram:hover{
	color: purple;
}

.fa-facebook-square:hover{
	color:#8b9dc3;
	/*color:#fff;*/
}

.fa-pinterest:hover{
	color:#cb2027;
}

.fa-linkedin:hover{
	color:#fff;
}

.fa-instagram:before {
    content: "\f16d";
    font-size: 30px;
    margin: 0px;

}

.fa-facebook-square:before{
	 content: "\f16d";
    font-size: 30px;
    margin: 0px;
}


.fa-pinterest:before {
    content: "\f16d";
    font-size: 30px;
    margin: 0px;

}

.fa-linkedin:before{
	 content: "\f16d";
    font-size: 30px;
    margin: 0px;
}

/*=========================================

Habilidades Profesionales

=============================*/


.skills_contenedor{
	background: #222;
	/*border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;*/

}


/*===================== 
Software de diseño
=============*/

.skillsSoftwareBg{
		background: url(../img/bg.png) no-repeat;
		
}

.skillboxcenter{
	width: 60%;
	margin:  auto;
	padding: 10px;
	background: #333;
	box-shadow: 5px 5px 50px rgba(70, 130, 180, .3); /* COLOR Var(--main-bg-color)*/
}

.skillboxcenter>h3{
	display: inline-block;
	padding: 10px 0;
	position: relative;
	left: 10px;
}

.skillBox{
	width: 100%;
	margin: 20px 0;

}

.skillBox p{
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 10px;
	font-size: 0.75em;	
	font-weight: 400;
	letter-spacing: 1px;
}

.skillBox p:nth-child(2){
	float: right;
	position: relative;
	right: 10px;
}

.skillBox img{
	position: relative;
	bottom: 5px;
	left: 13px;s
}

.skill{
	background: #262626;
	padding: 4px;
	margin: 0 10px;
	border-radius: 20px;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.skill_level{
	background: red;
	width: 100%;
	height:4px;
	border-radius: 20px;
}

.photoshop{
	 background-color: #31c5f0;
}

.illustrator {
	 background-color: #ff7c00; 
}

.indesign {
	 background-color: #ff479b; 
}

.muse {
	 background-color: #e3f45c; 
}


/*===================== 
Software desarrollo Web
=============*/

.skillsDesarrolloWeb{
	margin-top: 100px;
}

.skillboxcenter2{
	width: 60%;
	margin:  auto;
	padding: 10px;
	background: #333;
	box-shadow: 5px 5px 50px rgba(70, 130, 180, .3); /* COLOR Var(--main-bg-color)*/
}

.skillboxcenter2>h3{
	display: inline-block;
	padding: 10px 0;
	position: relative;
	left: 10px;
}

.skillBox2{
	width: 100%;
	margin: 20px 0;

}

.skillBox2 p{
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 10px;
	font-size: 0.75em;	
	font-weight: 400;
	letter-spacing: 1px;
}

.skillBox2 p:nth-child(2){
	float: right;
	position: relative;
	right: 10px;
}

.skillBox2 img{
	position: relative;
	bottom: 5px;
	left: 13px;s
}

.skill2{
	background: #262626;
	padding: 4px;
	margin: 0 10px;
	border-radius: 20px;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.skill_level2{
	background: red;
	width: 100%;
	height:4px;
	border-radius: 20px;
}

.html5{
	 background-color: #31c5f0;
}

.css3 {
	 background-color: #ff7c00; 
}

.javascript {
	 background-color: #ff479b; 
}

.jquery {
	 background-color: #e3f45c; 
}







/*=========================================

@MEDIA 

=============================*/


@media screen and (max-width: 1024px) and (min-width: 520px){

.container{
	width:90%;
	margin: 0 auto;
}

.main {
	width: auto;
	height: 600px;
	overflow: hidden;
}

.main img{
	width: 120%;
	
	height: auto;
}


nav li{
	padding-bottom: 10px;
	padding-top: 25px;
}





